* {
  margin: 0;
}

.app__dropdown {
  background-color: white;
}

.app {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  margin-top: 10px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__flag {
  display: flex;
  justify-content: center;
  max-width: 100px;
  max-height: 80px;
  object-fit: contain;
}

.app__headerTitle {
  display: flex;
  flex: 0.9;
}
.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent--root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__rightTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__rightTableDropdownSort {
  margin-left: 20px;
}

.app__rightTableDropdown {
  height: 35px;
  margin-left: 20px;
  margin-right: 10px;
}

.app__rightTitle {
  font-size: 25px;
  margin-right: 15px;
}

.app__rightTitle2 {
  font-size: x-large;
}

.app__graph {
  flex-grow: 1;
  height: 220px;
  margin-top: 10px;
}
